<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.onesec"> <!-- This should match your package -->

    <!--
      1. SYSTEM_ALERT_WINDOW: To show the popup over other apps.
    -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--
      2. QUERY_ALL_PACKAGES: THIS IS THE FIX!
      Required on Android 11+ to see the list of installed apps.
      We add tools:ignore to stop Android Studio from complaining about this permission.
    -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Onesec">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Popup Activity -->
        <activity
            android:name=".PopupActivity"
            android:theme="@style/Theme.Onesec.Transparent"
            android:exported="false" />

        <!-- Accessibility Service -->
        <service
            android:name=".MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>